@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: raleway;
    src: url("/public/fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: helvetica;
    src: url("/public/fonts/Helvetica.ttf");
}